:root {
  --bg-color: #1c1724;
  --text-color: rgba(255, 255, 255, 0.8);
  --text-secondaire: rgba(255, 255, 255, 0.6);
  --accent-color: #7a6af8;
  --glass-bg: rgba(255, 255, 255, 0.08);
  --glass-border : rgba(255, 255, 255, 0.15); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins" , sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(30px);
  background: var(--glass-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.header h1 {
  font-size: 40px; ;
  letter-spacing: 1px;
}

.btn {
  background: linear-gradient(90deg, #6a5acd, #738bd8);
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

body > *:not(.header) {
  margin-top:90px;
}

.search-section {
  display: flex;
  justify-content:center ;
   width: 100%;
  margin: 2rem 1rem ;
}

.search-section input {
  padding-left: 2rem;
  width: 100%;
  max-width: 350px;
  padding: 0.4rem 0.8rem 0.4rem 2.5rem;
  border-radius: 20px;
  border: 1px solid var(--glass-border);
  color: var(--text-color);
  background-size: 20px;  
  background:var(--glass-bg) url("images/search.png") no-repeat 10px center;
  backdrop-filter: blur(8px);
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
 
}


.students-grid {
  display: grid ;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 1.5rem;
  padding : 2rem;
  width:90%;
  margin: auto;
}


.student-card {
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow o.3s ease;
}


.student-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}


.student-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.student-card p {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-bottom: 0.4rem;
}



.actions {
  display: flex;
  justify-content: right;
  gap:1rem;
  margin-top: 1rem;
}

.actions button {
  border-radius: 8px;
  background: var(--accent-color);
  border: none;
  color: white;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.action button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}


.student-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

}