#search {
  width: 300px;
  padding: 10px 40px 10px 35px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.1) url("search-icon.jpg") no-repeat 10px center;
  background-size: 25px;
  color: white;
  font-size: 16px;
}